
#zipcode-redirect-settings label {
	font-size: 11px;
}
#zipcode-redirect-settings .form-item {
	padding: 5px;
	overflow: hidden;
	float: left;
}
#zipcode-redirect-settings .form-submit {
	clear: both;
}
#zipcode-redirect-settings .description {
	font-size: 9px;
}
#zipcode-redirect-settings fieldset .form-item,
#zipcode-redirect-settings fieldset .form-item .form-radios {
  margin: 0;
}
#zipcode-redirect-settings fieldset .form-item .description {
  clear: both;
}
.clear {
  clear: both;
}
